[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/puskas/Desktop/JAVELIN.sh
GenericName[en_US]=
GenericName=
Icon=application-x-shellscript
MimeType=
Name[en_US]=JAVELIN.sh
Name=JAVELIN.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
